*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Readex Pro", sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
a {
  text-decoration: none;
}

header {
  width: 100%;
  padding: 2rem 1rem;
}
header .wecall-logo {
  width: 100px;
}
@media (min-width: 768px) {
  header .wecall-logo {
    width: 198px;
    height: 45px;
  }
}

.reset-password-section {
  width: 100%;
  height: 73vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .reset-password-section {
    height: 80vh;
  }
}
.reset-password-section .lock-icon {
  width: 70px;
}
@media (min-width: 576px) {
  .reset-password-section .lock-icon {
    width: 80px;
  }
}
@media (min-width: 768px) {
  .reset-password-section .lock-icon {
    width: 100px;
  }
}
.reset-password-section .password-reset-label {
  font-size: 30px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .reset-password-section .password-reset-label {
    font-size: 48px;
  }
}
.reset-password-section .card {
  margin-top: 3rem;
  max-width: 900px;
  padding: 3rem 1rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  border-radius: 15px;
  border: 1px solid #e1e1e1;
  background: #fff;
  box-shadow: 3px 4px 72px 0px rgba(0, 0, 0, 0.04);
}
@media (min-width: 768px) {
  .reset-password-section .card {
    padding: 37px 90px;
  }
}
.reset-password-section .card .password-request-label {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 152.5%;
}
@media (min-width: 768px) {
  .reset-password-section .card .password-request-label {
    font-size: 24px;
  }
}
.reset-password-section .card .visit-address-label {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 152.5%;
}
@media (min-width: 768px) {
  .reset-password-section .card .visit-address-label {
    font-size: 18px;
  }
}
.reset-password-section .card .reset-button {
  outline: none;
  border: none;
  background-color: #1994ff;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 16px;
  width: 100%;
  padding: 1rem 0;
  font-style: normal;
  font-weight: 400;
  line-height: 152.5%;
}
@media (min-width: 576px) {
  .reset-password-section .card .reset-button {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .reset-password-section .card .reset-button {
    width: inherit;
    font-size: 22px;
    padding: 20px 87px;
  }
}
@media (min-width: 883px) {
  .reset-password-section .card .reset-button {
    width: inherit;
    font-size: 24px;
    padding: 20px 70px;
  }
}
.reset-password-section .card .your-email {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 152.5%;
}
@media (min-width: 768px) {
  .reset-password-section .card .your-email {
    font-size: 18px;
  }
}
.reset-password-section .card .your-email .email {
  color: #1994ff;
}
.reset-password-section .card .link-expire-label {
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 152.5%;
}
@media (min-width: 768px) {
  .reset-password-section .card .link-expire-label {
    font-size: 18px;
  }
}
.reset-password-section .card .link-expire-label a {
  text-decoration: underline;
  color: #1994ff;
}

footer {
  padding: 2rem 0;
}
@media (min-width: 768px) {
  footer {
    padding: 0;
  }
}
footer .copyright-label {
  color: #738ba9;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 152.5%;
}
@media (min-width: 768px) {
  footer .copyright-label {
    font-size: 16px;
  }
}
footer .copyright-label span {
  font-weight: 600;
}/*# sourceMappingURL=index.css.map */